body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-position: center center;
    background-repeat: no-repeat;
    height:100vh;
    font-size:1.2rem;
    font-family: 'Special Elite', cursive;
}
.pic{
  position:absolute;
  top:10%;
  left:10%;
  background-image: url('./img/type.jpg');
  background-position: center;
  background-size: cover;
  width:80vw;
  height:80vh;
  text-align: center;
  
}

.text-field{
  width: 24vw;
  z-index: 1;
  position: absolute;
  top:10%;
  left: 38%;
  transform: rotate(-1deg);
  line-height: 1.5rem;
}

button{
    border:none;
    outline:none;
    font-size:1.3rem;
    padding:0.5rem 1rem;
    cursor:pointer;
    border-radius:0.8rem;
    margin-top:2rem;
    margin-right:1.5rem; 
    color:white;
    width:6rem;
    background: linear-gradient(
        to right bottom,
        #b2e0fa,
        #3593d6,
        #0067bd,
        #003a9d,
        #050075
    );
}   

.btn{
  display: flex;
  align-items: flex-end;
  flex-direction:column ;
}



 @media only screen and (max-width:1200px){
  .pic{
    top:20%;
  }
  .btn{
    flex-direction: row;
    justify-content: flex-end;
  }
  .text-field{
    font-size:0.9rem;
    top:28%;
    line-height: 1.3rem;
  }
}  

@media only screen and (max-width:965px){

  .text-field{
    font-size:0.8rem;
    top:33%;
    line-height: 1.1rem;
  }
}  


@media only screen and (max-width:820px){

  .text-field{
    font-size:0.7rem;
    top:38%;
    line-height: 0.8rem;
  }
}  

@media only screen and (max-width:650px){

  .text-field{
    font-size:0.6rem;
    top:43%;
    line-height: 0.6rem;
  }
}   
@media only screen and (max-width:550px){

  .text-field{
    font-size:0.5rem;
    top:43%;
  }
}   

@media only screen and (max-width:425px){
  .text-field{
    width: 30vw;
    font-size:0.4rem;
    top:42%;
    left:34%;
  }
}



